/* ----------------------------------------EVENTOS */
.eventos {
    h2 {
        margin-bottom: 20px;
        text-align: center;
        padding: 20px 20px;
        color: black;
    }

    li {
        margin-bottom: 20px;
        padding: 20px 20px;
        font-size: 20px;
    }

    p {
        padding: 20px 20px;
    }
}